# ===============================
# PYTHON
# ===============================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo
*.pkl
tempCodeRunnerFile.py

# Virtual environments
venv/
.venv/
env/
ENV/

# ===============================
# JUPYTER
# ===============================
.ipynb_checkpoints/

# ===============================
# PYTORCH / MODEL FILES
# ===============================
*.pt
*.pth
*.ckpt
*.onnx

# ===============================
# DATASETS (VERY IMPORTANT)
# ===============================
data/
dataset/processed/
dataset/synthetic/
dataset/splits/

# ===============================
# RESULTS & LOGS
# ===============================
results/
*.log
*.csv
*.json

#================================
#CHECKPOINTS
#================================
checkpoints/


# ===============================
# EXPERIMENT SNAPSHOTS
# ===============================
experiments/*/config_snapshot.yaml

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db
desktop.ini

# ===============================
# CACHE
# ===============================
.cache/
*.cache

# ===============================
# TEMP
# ===============================
tmp/
temp/
*.tmp
*.bak

# ===============================
# COVERAGE / TEST
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# ENV FILES
# ===============================
.env
.env.*

# ===============================
# MISC
# ===============================
*.zip
*.tar
*.gz
*.rar